# History files
.Rhistory
.Rapp.history

# Session Data files
.RData*

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# CSV & Shapefiles
A4/denver_crime_04132021/*
A4/SF_crime_geocoded.csv
A4/Kansas_City_crime_geocoded.csv
A4/Detroit_crime_geocoded.csv
A4/LA_crime_geocoded.csv
A4/oakland_crime_blurred.csv
A4/oakland_crime_intersections.csv
A4/Denver_crime_geocoded.csv
A4/Oakland_*
A4/oakland_*
A4/oakland_crime_shp/*

A5/nhgis0025_shapefile_tl2000_us_tract_1940/*
A5/nhgis0025_shapefile_tl2008_us_tract_1940/*
A5/nhgis0026_shapefile_tl2000_us_tract_1970/*
A5/nhgis0026_shapefile_tl2008_us_tract_1970/*
A5/LTDB_Std_All_fullcount/*

soc176_shapes/*

